.profileSetting {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.profileSetting form {
    margin: 10vh auto 15vh 40.5vw;
    width: 40vw;
    height: 80vh;
    padding: 2vh 2vw;
    border-radius: 10px;
    position: relative;
    background-color: #FFFF;
}

.profileSetting form .formDelete {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 25px;
    line-height: 30px;
    top: -6vh;
    right: 0;
    background: rgba(0, 0, 0, 0);
    border: none;
    color: #FFFF;
}

.profileSetting form .changeProfileBackImageInput,
.profileSetting form .changeProfileIconInput {
    display: none;
}

.profileSetting form .changeProfileBackImage {
    width: 40vw;
    height: 15vh;
    object-fit: cover;
}


.profileSetting form .changeProfileIcon {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin: -80px auto 0 10px;
}

.profileSetting form p {
    width: 40vw;
    height: 5vh;
    line-height: 5vh;
}

.profileSetting form input {
    padding: 1vh 1vw;
    width: 38vw;
    border-radius: 10px;
    height: 3vh;
}

.profileSetting form textarea {
    width: 38vw;
    height: 28vh;
    padding: 1vh 1vw;
    max-height: 28vh;
    min-height: 28vh;
    min-width: 38vw;
    max-width: 38vw;
    border-radius: 10px;
}

.profileSetting form button {
    height: 7vh;
    display: block;
    margin: 2vh auto 0;
    width: 200px;
    border-radius: 10px;
    background-color: #FC9D9D;
    border: none;
}